body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
.city {
  background-color: tomato;
  color: white;
  padding: 10px;
} 
