h1 {
  color: blue;
}
p {
  color: red;
}
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
.city {
  background-color: tomato;
  color: white;
  padding: 10px;
}
.cities {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}
/* Set the background color of body to tan */
body {
  background-color: tan;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}
